@charset "utf-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&family=Paytone+One&family=Sriracha&display=swap');
.footer
{
	padding: 10px;
	background-image: url( "../images/footer_bg 1.png"), url( "../images/ingredient_bg-1 2.png");
	background-repeat: no-repeat,no-repeat;
	background-position: top center, top center;
	margin-top: 100px;
	min-height: 500px
}
.footer-logo
{
	width: 100%; 
	left: 0;
}
/*.footer-logo img{width: 130px;
margin-top: 200px;}*/
.footer-text
{
	margin: 30px;
}
.footer-text p
{
	color: gray;
	font-family: 'Patrick Hand', cursive;
}
.navbar-title
{
	background-image: url( "../images/menu_pattern3-min 3.png"), url("../images/home.png");
	background-size:  100%;
	padding-bottom: 250px;
}
#vung1
{
	text-align: center;
	color: white;
	margin-top: 60px;
	font-family: 'Paytone One', sans-serif;
}
#vung3
{
	background-image: url( "../images/menu_pattern3-min 2.png")
}
#vung4
{
	background-image: url( "../images/delivery_bg 2.png")
}
#vung5 h5
{
	margin-top: 10px;
	font-size: 18px;
	font-family: 'Paytone One', sans-serif;
}
#vung5 h4
{
	font-size: 24px;
	font-family: "Oswald", sans-serif;
	color: #4F4F4F;
}
